version: '{build}'
pull_requests:
  do_not_increment_build_number: true
branches:
  only:
    - master
    - development
image: Visual Studio 2017
nuget:
  disable_publish_on_pr: true
build_script:
- cmd: .\build.cmd
test: off
artifacts:
- path: artifacts\*.nupkg
  name: NuGet
deploy:
- provider: NuGet
  server: https://www.myget.org/F/automapperdev/api/v2/package
  api_key:
    secure: zKeQZmIv9PaozHQRJmrlRHN+jMCI64Uvzmb/vwePdXFR5CUNEHalnZdOCg0vrh8t
  skip_symbols: true
  on:
    branch: development
- provider: NuGet
  server: https://www.myget.org/F/automapperdev/api/v2/package
  api_key:
    secure: zKeQZmIv9PaozHQRJmrlRHN+jMCI64Uvzmb/vwePdXFR5CUNEHalnZdOCg0vrh8t
  skip_symbols: true
  on:
    branch: master
- provider: NuGet
  api_key:
    secure: t3blEIQiDIYjjWhOSTTtrcAnzJkmSi+0zYPxC1v4RDzm6oI/gIpD6ZtrOGsYu2jE
  on:
    appveyor_repo_tag: true
